
.product{
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productInfo{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 10px;
}
.productImage{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
}
.productImage img{
    width: 100%;
}
.productName{
    font-weight: bold;
    color: #555;
    flex: 1;
    line-height: 18px;
}
.productOriginalPrice{
    font-size: 15px;
    color: #f55
}
.productPrice{
    font-size: 25px;
    color: #555
}
.buyArea{
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
    margin-top: 20px
}