
.pixPayment{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pixPaymentOption{
    padding: 10px
}
.pixValueDisplay{
    color: #333;
    font-size: 21px;
    margin-bottom: 10px
}

.scanArea{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.pixInstructions{
    padding: 20px;
    font-size: 14px;
}
.pixTitle{
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.codeArea{
    display: flex;
    justify-content: center;
}
.codeArea div{
    width: 150px;
}
.codeArea img{
    width: 100%;
}

.copyCodeArea{
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    position: relative;
    overflow-x: hidden;
    font-size: 18px;
    padding: 10px;
    align-items: center;
}
.codeText{
    color: #555
}
.copy{
    position: absolute;
    right: 0px;
    background-color: #fff;
    box-shadow: -5px 3px 8px 4px #fff;
    text-align: center;
    padding: 3px 5px;
    color: #08c;
    cursor: pointer;
}