main{
    display: flex;
    justify-content: center;
}
main .container{
    display: flex;
    margin-top: 30px;
    border-radius: 5px;
}
aside{
    flex: 1;
}

.buyInfo{
    padding: 20px;
}
.buyInfoProduct{
    width: 150px;
}
.buyInfoProduct img{
    width: 100%;
}
.buyInfoItem{
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 14px;
}
.buyItemsList{
    border-bottom: 1px solid #ccc;
}
.buyInfoName{
    padding: 0 10px;
    line-height: 17px;
}
.productItemNum{
    font-size: 13px;
    color: #08c
}
.buyInfoImage{
    font-weight: bold;
    color: #333;
    display: flex;
}
.buyChoiceArea{
    padding: 20px;
    flex: 3;
}
.finalPrice{
    font-size: 15px;
}
.buyFree{
    color: #095
}
.buyInfoProductDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.buyNextImage{
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    transition: all ease .5s;
}
.buyNextImage:hover{
    background-color: #ccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.productDisplayArea{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.buyChoiceOption{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 20px
}
.optionTitle{
    display: flex;   
    align-items: center;
}
.buyButtonArea{
    display: flex;
    justify-content: flex-end;
    padding: 20px
}
.buyConfirm{
    background-color: #08c;
    border-radius: 5px;
    width: fit-content;
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
}
.buyOptionPaymentInfo{
    line-height: 20px;
}
.buyOptionDescription{
    color: #888;
    font-size: 15px;
}
.buyOptionHeaderPayment img{
    width: 30px;
}
.buyOptionHeaderPayment{
    display: flex;
    padding: 10px;
    gap: 10px
}
.buyOptionImage{
    display: flex;
    align-items: center;
}
.buyInfoItemConfirmation{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 14px;
}
.pixPayment{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pixPaymentOption{
    padding: 10px
}
.pixValueDisplay{
    color: #333;
    font-size: 21px;
    margin-bottom: 10px
}
.scanArea{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.pixInstructions{
    padding: 20px;
    font-size: 14px;
}
.pixTitle{
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.codeArea{
    display: flex;
    justify-content: center;
}
.codeArea div{
    width: 150px;
}
.codeArea img{
    width: 100%;
}
hr{
    border: none;
    background-color: #ccc;
    height: 1px;
}
.copyCodeArea{
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    position: relative;
    overflow-x: hidden;
    font-size: 18px;
    padding: 10px;
    align-items: center;
}
.codeText{
    color: #555
}
.copy{
    position: absolute;
    right: 0px;
    background-color: #fff;
    box-shadow: -5px 3px 8px 4px #fff;
    text-align: center;
    padding: 3px 5px;
    color: #08c;
    cursor: pointer;
}