main{
    display: flex;
    justify-content: center;
}
main .container{
    display: flex;
    margin-top: 30px;
    border-radius: 5px;
}
aside{
    flex: 1;
}

.buy-info{
    padding: 20px;
}
.buy-info-title{
    font-size: 21px;
    color: #333;
    font-weight: bold;
}
.buy-info-product{
    width: 150px;
}
.buy-info-product img{
    width: 100%;
}
.buy-info-item{
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 14px;
}
.buy-items-list{
    border-bottom: 1px solid #ccc;
}
.buy-info-name{
    padding: 0 10px;
    line-height: 17px;
}
.product-item-num{
    font-size: 13px;
    color: #08c
}
.buy-info-image{
    font-weight: bold;
    color: #333;
    display: flex;
}
.buy-choice-area{
    padding: 20px;
    flex: 3;
}
.final-price{
    font-size: 15px;
}
.buy-free{
    color: #095
}
.buy-info-product-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.buy-next-image{
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    transition: all ease .5s;
}
.buy-next-image:hover{
    background-color: #ccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product-display-area{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}
.buy-choice-option{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 20px
}
.option-title{
    display: flex;   
    align-items: center;
}
.buy-option-title{
    font-size: 18px;
}
.buy-option-header{
    margin-left: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buy-option-price{
    display: flex;
    align-items: center;
    font-size: 15px;
}
.buy-option-info{
    font-size: 14px;
    padding: 10px 20px
}
.buy-button-area{
    display: flex;
    justify-content: flex-end;
    padding: 20px
}
.buy-confirm{
    background-color: #08c;
    border-radius: 5px;
    width: fit-content;
    padding: 10px 20px;
    color: #eee;
    cursor: pointer;
}
.buy-option-payment-info{
    line-height: 20px;
}
.buy-option-description{
    color: #888;
    font-size: 15px;
}
.buy-option-header-payment img{
    width: 30px;
}
.buy-option-header-payment{
    display: flex;
    padding: 10px;
    gap: 10px
}
.buy-option-image{
    display: flex;
    align-items: center;
}
.payment-choice{
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: #fff;
    border-radius: 5px;
}
.payment-choice-image img{
    width: 30px;
}
.payment-card-form{
    display: flex;
}
.payment-form-inputs{
    display: flex;
    flex-direction: column;
}
.payment-form-inputs label{
    display: flex;
    flex-direction: column;
}
.payment-form-inputs input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: 1px solid #ddd;
}
.payment-form-inputs input:focus{
    outline: 2px solid #08c;
}
.payment-form-inputs label{
    font-size: 16px;
    color: #555;
    padding: 10px
}
.card-info{
    display: flex;
}
.payment-choice-description{
    color: #333
}
.payment-choice-alter{
    color: #08c;
    font-size: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer
}
.buy-info-item-confirmation{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 14px;
}
.pix-payment{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pix-payment-option{
    padding: 10px
}
.pix-value-display{
    color: #333;
    font-size: 21px;
    margin-bottom: 10px
}
.scan-area{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.pix-instructions{
    padding: 20px;
    font-size: 14px;
}
.pix-title{
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
.code-area{
    display: flex;
    justify-content: center;
}
.code-area div{
    width: 150px;
}
.code-area img{
    width: 100%;
}
hr{
    border: none;
    background-color: #ccc;
    height: 1px;
}
.copy-code-area{
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    position: relative;
    overflow-x: hidden;
    font-size: 18px;
    padding: 10px;
    align-items: center;
}
.code-text{
    color: #555
}
.copy{
    position: absolute;
    right: 0px;
    background-color: #fff;
    box-shadow: -5px 3px 8px 4px #fff;
    text-align: center;
    padding: 3px 5px;
    color: #08c;
    cursor: pointer;
}