


.logo-area{
    flex: 1;
    cursor: pointer;
}
.logo-area img{
    width: 60px;
}
.search-area{
    display: flex;
    align-items: center;
    flex: 2;
}
.search-filter{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--buttons);
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    height: fit-content;
    transition: all ease .5s;
    cursor: pointer;
    width: 140px;
}

.search-input .search-icon:hover,
.search-filter:hover{
    background-color: var(--buttons-hover);
}

.filter-text{
    color: #fff;
    flex: 1;
    font-size: 14px;
}
.open-menu{
    transform: rotate(90deg);
    color: #fff
}
.search-filter img{
    width: 10px;
}

.search-input{
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex: 1;
    margin-left: 10px;
    justify-content: space-between;
}
.search-input-space{
    padding: 5px;
    width: 100%;
}
.search-input input{
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 100%;
    padding: 10px
}
.search-input .search-icon{
    background-color: var(--buttons);
    padding: 5px;
    display: flex;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: all ease .5s;
    cursor: pointer;
}

.search-input img{
    width: 15px;
}

