main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .container{
    margin-top: 30px;
    border-radius: 5px;
}
#product{
    background-color: #fff;
    display: flex;
}
#product .product-image{
    width: 600px;
    background-color: #fff;
    border-right: 1px solid #ccc;
}
#product .product-image .product-image-opened{
    width: 100%;
}
#product .product-image-select{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px
}
#product .product-image-select img{
    width: 100%;
}
#product .product-image-item{
    border: 1px solid #ccc;;
    cursor: pointer;
    width: 70px;
    transition: all ease .5s;
    display: flex;
    align-items: center;
}

#product .product-image-item:hover,
#product .product-image-select .active-image{
    border: 1px solid var(--buttons);
    box-shadow: 0px 0px 1px var(--buttons);
}


#product .product-info{
    padding: 0 20px;
    flex: 1;
}
#product .product-name{
    display: flex;
    align-items: center;
    gap: 10px
}
#product .product-name-text{
    font-weight: bold;
    font-size: 21px;
    color: #333;
    font-size: 36px;
}
.best-choice-sign{
    font-size: 13px;
    display: flex;
    align-items: center;
    color: #08c;
    gap: 4px;
    cursor: pointer;
}
.best-choice-sign img{
    width: 20px;
}
#product .product-price-description{
    line-height: 26px;
    margin-top: 30px;
}
#product .product-original-price{
    font-size: 15px;
    color: #f22
}
#product .product-price{
    font-size: 36px;
    font-weight: bold;
    color: #333
}
.product-description{
    color: #333;
    font-weight: 400;
    max-width: 100%;
    margin-top: 30px;
}
.oficial-sign{
    background-color: #333;
    padding: 0 7px;
    color: #fff;
    border-radius: 4px;
    width: fit-content;
    font-size: 13px;
}
#product .buy-area{
    margin-top: 30px;
}
#product .buy-area .buy-quantity{
    color: #555;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 13px;
}
#product .buy-area-buttons{
    width: 300px;
}
#product .buy-area .cart-button{
    background-color: rgba(168, 225, 239, 0.5);
    color: rgb(0, 160, 200);
    padding: 7px 30px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    transition: all ease .5s;
    width: 100%;
    text-align: center;
}
#product .buy-area .buy-button{
    background-color: var(--buttons);
    padding: 7px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    transition: all ease .5s;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;

}

#product .buy-area .buy-button:hover{
    background-color: var(--buttons-hover);
}
.product-options{
    margin-top: 20px;
    display: flex;
    gap: 10px
}
.product-option-item{
    border: 1px solid #08c;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-options img{
    height: 20px;
}
#recomendations .recomendations-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px
}
#recomendations .product{
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    background-color: #fff;
}
#recomendations .product-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 10px;
}
#recomendations .product-image{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}
#recomendations .product-image img{
    width: 100%;
}
#recomendations .product-name{
    font-weight: bold;
    color: #555;
    flex: 1;
    line-height: 18px;
    font-size: 18px;
}
#recomendations .product-original-price{
    font-size: 15px;
    color: #f55
}
#recomendations .product-price{
    font-size: 25px;
    color: #555
}
#recomendations .buy-area{
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}
#recomendations .buy-button{
    background-color: var(--buttons);
    border-radius: 3px;
    margin-top: 8px;
    padding: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all ease .5s;
}
#recomendations .product-description{
    font-size: 10px;
    line-height: 10px;
}
.recomendations-title{
    font-weight: bold;
    font-size: 23px
}

#comments{
    display: flex;
    flex-direction: column;
    gap: 10px
}
.comment{
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}
.comment-username{
    font-size: 18px;
    font-weight: bold;
    color: #333
}

.comment-rate img{
    width: 13px;
}
.comment-body{
    font-size: 14px;
    color: #333
}
.comment-header{
    display: flex;
    justify-content: space-between;
}
.comment-date{
    font-size: 12px;
    color: #555
}