main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .container{
    margin-top: 30px;
}

#search{
    display: flex;
}
aside{
    flex: 1
}

.filters{
    display: flex;
    flex-direction: column;
}
.filter-item{
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.filter-title{
    font-weight: bold;
    color: #333
}
.filter-text-item{
    cursor: pointer;
    font-size: 13px;
    color: #333
}
.filter-text-item:hover{
    filter: brightness(0);
}


.filter-text-box{
    display: flex;
    align-items: center;
}
.filter-text-box input[type="checkbox"] {
    display: none;
}
.filter-text-box .checkbox-custom {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 1px;
    cursor: pointer;
}

input[type="checkbox"]:checked + .checkbox-custom {
    background-color: var(--buttons);
}
.checkbox-custom::after {
    content: "✓";
    font-size: 8px;
    color: #fff;
    text-align: center;
    display: block;
    border-radius: 2px;
    visibility: hidden;
  }
  input[type="checkbox"]:checked + .checkbox-custom::after {
    visibility: visible;
  }

.filter-text-box div{
    font-size: 13px;
    margin-left: 10px
}


.filter-range {
    margin-bottom: 10px; 
}

.filter-range-input {
    -webkit-appearance: none;
    width: 100%; 
    height: 5px;
    background: #ddd;
    border-radius: 5px; 
    outline: none; 
}

.filter-range-input::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none; 
    width: 10px; 
    height: 10px;
    background: var(--buttons);
    border-radius: 50%; 
    cursor: pointer; 
}

.filter-output{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
}
.filter-range-title{
    color: #333;
    font-weight: bold;
}
.filter-range-value{
    border: 0;
    outline: 0;
    width: 80%;
    padding: 5px;
}

.items-found{
    font-size: 13px;
    font-weight: bold;
}
.products-list-area{
    flex:5;
    padding: 10px;
}
.products-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}
.products-list .product{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}
.products-list-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px
}
.products-list .product img{
    width: 200px;
}
.list-order{
    padding: 5px 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
}
.list-order-pointers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #555;
    margin-left: 8px;

}
.list-order-pointer{
    font-size: 7px;
    cursor: pointer;
    line-height: 6px;
}
.product{
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 10px;
}
.product-image{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
}
.product-image img{
    width: 100%;
}
.product-name{
    font-weight: bold;
    color: #555;
    flex: 1;
    line-height: 18px;
}
.product-original-price{
    font-size: 15px;
    color: #f55
}
.product-price{
    font-size: 25px;
    color: #555
}
.buy-area{
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}
.buy-button{
    background-color: var(--buttons);
    border-radius: 3px;
    margin-top: 8px;
    padding: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all ease .5s;
}

.pagination{
    display: flex;
    margin-top: 10px;
}
.pagination div{
    padding: 0 5px ;
    border: 1px solid #ccc;
    background-color: #fff;
}
.previous-page{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.next-page{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pagination .selected-page{
    background-color: var(--buttons);
}