code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #E635A1;
  --secondary-color: #2100F4;
  --third-color: #F6C2C6;
  --buttons: #c77;
  --buttons-hover: #c55
}
body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #eee;
  margin: 0;
  padding: 0;
}
.container{
  width: 1300px;
}
.division{
  width: 1300px;
}
.section-division{
  display: flex;
  align-items: center;
}
.section-division-title{
  font-size: 16px;
  font-weight: bold;
  color: #555;
  margin-right: 10px;
}
.section-division-line{
  background-color: #999;
  height: 2px;
  flex: 1;
}